TTD_GITHUB_APP_ID=59400
TTD_GITHUB_INSTALL_ID=143423402
TTD_GITHUB_APP_PRIVATE_KEY_BASE_64=QTBBNUU5RUItQkRGNC00OEI3LTkzRTktNUExMjhEMDg3OUM3Cg==
TTD_HEROKU_API_TOKEN=2cf6d84b-8ee6-45fd-b824-14dbfa7e0955
TTD_SLACK_CHANNEL_ID=2cf6d84b-8ee6-45fd-b824-14dbfa7e0955
TTD_SLACK_API_TOKEN=2cf6d84b-8ee6-45fd-b824-14dbfa7e0955
TTD_TIMEZONE=America/New_York
TTD_DYNAMO_TABLE_NAME=
TTD_HTTP_AUTH_TOKEN=
TTD_PROJECT_SETTINGS='[{"name":"Time To Deploy Project","repoURL":"https://github.com/ghost/example","stagingEnvURL":"https://staging.example.com","productionEnvURL":"https://prod.example.com","stagingEnvName":"staging name","productionEnvName":"production name"}]'
SENTRY_DSN=
